# Ігнорування папок node_modules у всьому проєкті
**/node_modules

# Логи
**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ігнорування кешу залежностей
**/package-lock.json
**/yarn.lock
**/pnpm-lock.yaml

# Вихідні файли побудови (build) клієнта та сервера
/client/build
/server/build
/client/dist
/server/dist

# Налаштування редактора (наприклад, VSCode)
.vscode/
*.code-workspace

# Експортування середовища виконання
.env
.env.local
.env.*.local

# Кеш Babel
.babel_cache/

# Кеш TypeScript
*.tsbuildinfo

# Кеш Next.js
.next/

# Кеш Jest
jest/
coverage/

# Інші тимчасові файли
.DS_Store
*.swp
*.tmp
Thumbs.db
